<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{meta_description}{/}">
<meta name="keywords" content="{meta_keywords}{/}">
<meta name="author" content="">
<title>{title}Epan{/}</title>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--><!--xEpan-ATK-Header-Start
 {$js_block}
 {$js_include}
 <script type="text/javascript">
 $(function(){
 {$document_ready}
 });
 </script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
 xEpan-ATK-Header-End--><!-- BASE CSS --><link href="css/mystyle.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
<script src="js/common_scripts_min.js" style=""></script><script src="js/functions.js" style=""></script>
</head>
<body style="overflow: visible; cursor: default;"><div class="xepan-v-body xepan-component xepan-sortable-component ui-sortable" xepan-component-name="Main Body" id="7f6b7967-71aa-436d-9ab2-b43c956f4942" text-color="" scrollamount="">
    
    <div class="layer" style=""></div>
    <!-- Mobile menu overlay mask -->
    <div id="preloader" style="display: none;">
        <div data-loader="circle-side" style="display: none;"></div>
    </div>
<!-- End Preload -->
    
    <!-- Header ================================================== -->
    <header class="" style="padding: 0px;"><div style="height: 10px;" class="theme-bg-color"></div>
      <div class="container" xepan-component="xepan/cms/Tool_Container" emptytext="Container" xepan-component-name="Container">
          <div class="row">
              <div class="col--md-3 col-sm-3 col-xs-3">
                  <a href="index" id="logo">
                  <img src="images/logo.png" alt="" data-retina="true" width="230" height="23"></a>
              </div>
              <div class="col--md-9 col-sm-9 col-xs-9">
              		<div class="xepan-component xepan-serverside-component" xepan-component-name="UserPanel" xepan-component="xepan/base/Tool_UserPanel" id="xepan-17f86d5c-a08c-4eab-e8d6-71065c9bd4e4" text-color="" layout="login_view" registration_mode="all" show_micro_login="true" scrollamount=""></div>
              </div>
			</div>
      </div>

    </header><!-- End Header =============================================== --><div id="2c2519c2-cdd3-4644-f400-ea09bd7c1ca0" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: 100%; margin: 0px auto;" xepan-component-name="Container" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable margin_60_35 padding_bottom_0" text-color="">
      <div id="874590a5-1683-4e29-cf77-5bd41f4f3ac7" xepan-component="xepan/cms/Tool_TemplateContentRegion" emptytext="Page Content" xepan-component-name="Template Content Region" class="xepan-component xepan-page-wrapper ui-sortable" text-color="">{$Content}</div>
    </div>

    <footer><div xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: 85%; margin: 0px auto;" xepan-component-name="Container" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable" id="xepan-4f169aa1-3025-42a9-f538-3110937ddf54" text-color="" scrollamount="">
        
      <div xepan-component="xepan/cms/Tool_Columns" style="min-height:20px;" xepan-component-name="Row/Columns" class="row xepan-component" id="xepan-dc69c226-ea8a-4f80-f247-0711e64fa7d2" text-color="" scrollamount="">
  
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="4" data-md="4" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column xepan-sortable-component xepan-component ui-sortable col-lg-4 col-md-4 col-sm-12 col-xs-12" id="xepan-9cca31ea-c279-4545-ae84-134591c8e6b9" text-color="">
<span id="xepan-5f1413e7-bd8b-4404-c09c-5927bb7d4a18" xepan-component="xepan/cms/Tool_Image" xepan-component-name="Image" class="xepan-component" style="display: table; width: 141px; height: auto; overflow: hidden; margin-bottom: 10px;" text-color="" scrollamount=""><img src="images/footerlogo.png" style="max-width:100%; height: 100%; width:100%; height: inherit" data-extra-classes="" alt="Image" class="ui-resizable"></span><div id="xepan-09b1d358-392b-4306-e804-c479327c59ae" xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body contact_details_footer" style="position: relative;" text-color="" data-extra-classes="contact_details_footer" contenteditable="false"><ul id="contact_details_footer">
<li>The UDAIPUR REALTORS is one of the leading real estate website which helps to find your dream property wherever you want and connecting them with the best local professionals who can help.</li>
<li>Advertise With Us: <strong>+91-8209132352</strong>
</li>
</ul></div>
</div>
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="5" data-md="5" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column xepan-sortable-component xepan-component ui-sortable col-sm-12 col-xs-12 col-lg-5 col-md-5" id="xepan-47b760dd-2583-4985-e326-1eefab6fdf66" text-color="">
<div id="xepan-b8075d3a-9db9-40a1-da73-ae37907a416c" xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" text-color="" contenteditable="false"><h3>Helpful Links</h3></div>
<div xepan-component="xepan/cms/Tool_Columns" style="min-height:20px;" xepan-component-name="Row/Columns" class="row xepan-component" id="xepan-4d5a2833-224b-4f0b-9df5-8c2ab3d92c08" text-color="">
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="6" data-md="6" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-6 col-md-6" id="xepan-f7dc0ce9-2126-4a68-c36c-55ec821117dc" text-color=""><div id="xepan-a40ba5e0-32b5-4c42-a0b4-9e29c23ed028" xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" text-color="" contenteditable="false"><ul>
<li>
<a href="login" data-mce-href="login">&gt; Login</a><br data-mce-bogus="1">
</li>
<li>&gt; Sign Up</li>
<li>&gt; My Account</li>
<li>&gt; Add Property</li>
</ul></div></div>
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="6" data-md="6" data-sm="12" data-xs="12" xepan-component-name="Column" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-6 col-md-6" id="xepan-2521a8a8-7529-4f0c-9ac9-5562eb2e883b" text-color=""><div xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative; display: block;" text-color="" id="xepan-7433917a-3685-4108-e098-fe6092e31f39" contenteditable="false"><ul>
<li>
<a href="privacy" data-mce-href="privacy">&gt; Privacy Policy</a><br data-mce-bogus="1">
</li>
<li>
<a href="terms-and-conditions" data-mce-href="terms-and-conditions">&gt; Terms &amp; Conditions</a><br data-mce-bogus="1">
</li>
<li>
<a href="about" data-mce-href="about">&gt; About Us</a><br data-mce-bogus="1">
</li>
<li>
<a href="contact" data-mce-href="contact">&gt; Contact Us</a><br data-mce-bogus="1">
</li>
</ul></div></div>
  
</div>
</div>
<div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="3" data-md="3" data-sm="12" data-xs="12" class="xepan-cms-column xepan-sortable-component xepan-component ui-sortable col-lg-3 col-md-3 col-sm-12 col-xs-12" id="xepan-ce6bdaeb-691a-43f0-ee89-1ec00e2e6d94">
<div xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative; display: block;" text-color="" id="xepan-fd8dc6d0-0189-47ca-fb71-4c72b6e78124" contenteditable="false"><h3>Contact Us<br>
</h3></div>
<div id="xepan-0341ada1-d332-4b6a-bd0a-6963afe47c06" xepan-component-name="Text" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative;" text-color="" contenteditable="false">
<p>83-K Road New Keshav Nagar,<br>Roopsagar Road, Udaipur, Raj.</p>
<p>Phone: <strong><a href="tel:+91-8209132352" data-mce-href="tel:+91-8209132352">+91-8209132352<br></a></strong> Phone: <strong><a href="tel:+91-9214456424" data-mce-href="tel:+91-9214456424">+91-9214456424<br></a></strong> Phone: <strong><a href="tel:+91-9672988488" data-mce-href="tel:+91-9672988488">+91-9672988488<br></a></strong><a href="tel:+91-9672988488" data-mce-href="tel:+91-9672988488">E-Mail:</a><strong><a href="tel:+91-9672988488" data-mce-href="tel:+91-9672988488"> info@udaipurrealtors.com</a></strong><br data-mce-bogus="1"></p>
</div>
</div>
</div>
<div id="xepan-7988c3f5-8ddc-406a-9330-8ca99529bfbc" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width:85%;margin:0 auto;" xepan-component-name="Container" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable text-center" text-color="" data-extra-classes="text-center">
  <div id="social_footer">
    <ul>
<li>
        <a href="https://www.facebook.com/udaipurrealtors">
        <i id="xepan-72c04574-dc82-4c1f-c4eb-09fab023235a" xepan-component="xepan/cms/Tool_Icon" icon-link-target="window" icon-class="fa-facebook" icon-link="https://www.facebook.com/udaipurrealtors" icon-align="text-center" style="width:100%;" xepan-component-name="Icon" class="xepan-component xepan-cms-icon fa text-center fa-facebook" text-color="" scrollamount="" onclick="window.open('https://www.facebook.com/udaipurrealtors', '_blank');"></i>
      </a>
      </li>
      <li>
        <a href="https://twitter.com/udaipurrealtors">
        <i xepan-component="xepan/cms/Tool_Icon" icon-link-target="none" icon-class="fa-twitter" icon-link="#" icon-align="text-center" style="width:100%;" xepan-component-name="Icon" class="xepan-component xepan-cms-icon text-center fa fa-twitter" text-color="" scrollamount="" id="xepan-21433b2a-76d7-407a-be3a-179a3a940dbe" onclick="window.open('#', '_self');"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/udaipurrealtors/">
        <i xepan-component="xepan/cms/Tool_Icon" icon-link-target="window" icon-class="fa-instagram" icon-link="https://www.instagram.com/udaipurrealtors/" icon-align="text-center" style="width:100%;" xepan-component-name="Icon" class="xepan-component xepan-cms-icon fa fa-instagram text-center" text-color="" scrollamount="" id="xepan-21433b2a-76d7-407a-be3a-179a3a940dbe" onclick="window.open('https://www.instagram.com/udaipurrealtors/', '_blank');"></i>
      </a>
      </li>
    </ul>
<p>© 2019 www.udaipurrealtors.com. All Rights Reserved. Developed by <a href="http://xavoc.com" target="_blank" style="color: yellow;">xepan ERP</a></p>
</div>  
  </div>
</div>
    </footer><script src="js/common_scripts_min.js" style=""></script><script src="js/functions.js" style=""></script>
</div>
</body>
</html>
