<div class="{$class}" style="{$style}" id="{$_name}">
    <div class="featured-property">
    {rows}{row}
        <div class="item">
            <div class="image">
                <a href="{$list_detail_page_url}">
                    <div class="overlay">
                        <div class="inner">
                            <div class="content">
                                <h4>Description</h4>
                                <p>{$description}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item-specific">
                        <div class="tooltip_styled tooltip-effect-4">
                            <span class="tooltip-item">
                                <i class=" icon_set_1_icon-3" style="color:white;">Area:&nbsp; {$area} Sqft</i>
                            </span>
                            <div class="tooltip-content">
                                Area: {$area} Sqft
                            </div>
                        </div>
                    </div>
                    <div class="ribbonflatbox icon">
                        <div class="ribbonflat">
                            <span>{$property_status}</span>
                        </div>
                    </div>
                    {is_featured_wrapper}
                    <div class="ribbonbox">
                        <div class="ribbon">
                            <span>featured</span>
                        </div>
                    </div>
                    {/}
                    <img propertytype="{$property_status}" src="{$profile_image}" alt="" onerror="defaultImage(this);" style="height:280px;">
                </a>
            </div>
            <div class="wrapper" style="background-color:#fafad2 !important;">
                <a href="{$list_detail_page_url}"><h3>{$title}</h3></a>
                <h4>Rs. {$price}</h4>
            </div>
        </div>
    {/}{/}
    </div>
    {not_found}{/}

    <script>
    $(document).ready(function(){
        $('#{$_name} .featured-property').owlCarousel({
                center: true,
                items:3,
                loop:true,
                autoplay:true,
                stopOnHover : true,
                navText: [ '', '' ],
                navigation : false,
                addClassActive: true,
                margin:25,
                nav:false,
                responsive:{
                    200:{
                        items:1
                    },
                    400:{
                        items:1
                    },
                    600:{
                        items:1,
                        nav:false,
                    },
                    1000:{
                        items:3,
                        nav:false,
                    }
                }
        });
    });
    </script>
</div>